# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

#notebook checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*
figures
